[submodule "dependencies/cutlass"]
	path = dependencies/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "dependencies/tiny-cuda-nn"]
	path = dependencies/tiny-cuda-nn
	url = https://github.com/NVlabs/tiny-cuda-nn.git
